*{
    text-align: center;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
ul,a{
    text-decoration: none;
    list-style: none;
    gap: 25px;
    color: white;
}
.menu{
    font-size: 18px;
    color: white;
}
.logo{
    font-size: 24px;
    color: white;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}
nav ul{
    display: flex;
    flex-direction: row;
}
.container{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
}
main{
    margin: 0 0 35px;
}
nav img{
    width:25px;
    height: 25px;
    border-radius: 50%;
}
.container img{
    width: 50vw;
    height: 250px;
}
.left{
    padding: 5px;
}
#hero{
    font-size: 48px;
    font:extra-bold #f9faf8;
}
#hero+p{
    font-size: 18px;
    font: #e5e7eb;
}
#info{
    font:extra-bold #1f2937;
    font-size: 36px;
}
.cards{
    display: flex;
    overflow: scroll;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 250px;
}
.cards img{
    width: 100px;
    height: 100px;
    border: 3px solid gray;
    border-radius: 10px;
}
.cards img:hover{
    border: 3px solid blue;
}
.quote{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.quote img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
footer{
    background-color: #1f2937;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 30px;
}